* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #4e342e;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

button:hover {
	transform: scale(1.05)
}

ul {
	list-style: none;
}

/**
 * top header
 */
.top-header {
	align-items: center;
	background: #8d6e63;
	box-shadow: 0px 2px 10px #333333;
	display: flex;
	height: 60px;
	position: fixed; /*fixed on the top of the page*/
	top: 0;
	width: 100%;
	z-index: 1;
}

.header-mark {
	font-family: Apple Chancery;
	font-size: 25px;
}

.avatar {
	background: #FFFFFF;
	border-radius: 50%;
	color: #333C4D;
	height: 40px;
	margin-right: 20px;
	margin-left: 10px;
	padding-left: 9px;
	padding-top: 5px;
	width: 40px;
}

#logout-link {
	padding-left: 10px;
	color: white;
}

/**
 * top navigation
 */
#recipe-btn:hover, #fridge-btn:hover {
	text-decoration: underline;
}

.top-nav {
	flex: 1;
}

.top-nav a {
	color: #F9F9F9;
	font-weight: 400;
	margin-left: 20px;
	text-decoration: none;
}

#welcome-msg {
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
}

/**
 * main container
 */
.container {
	margin: 60px auto;
	max-width: 1200px;
	min-width: 600px;
}

/**
 * main header
 */
.container>header {
	height: 250px;
	align-items: center;
	display: flex;
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
	animation: slide;
	animation-duration: 30s;
	animation-direction: reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes slide { 
	0% {
		background-image: url('food_1.jpg');} 
	20% {
		background-image:url('food_6.jpg');} 
	40% {
		background-image:url('food_5.jpg');} 
	60% {
		background-image:url('food_3.jpg');}
	80% {
		background-image:url('food_2.jpg');}
	100% {
		background-image:url('food_1.jpg');}
}

.container>header p {
	border-left: 1px solid #FFFFFF;
	font-weight: 400;
	font-size: 2em;
	line-height: 1em;
	margin-left: 300px;
	margin-bottom: 100px;
	padding-left: 5px;
}

.container>header span {
	color: #FBAF41;
}

#instagram {
	padding-left: 5px;
}

#twitter {
	padding-left: 5px;
}

#facebook {
	padding-left: 5px;
}

/**
 * login form
 */
#login-form {
	color: #624630;
	margin: 0px auto;
	overflow: auto;
	padding-top: 90px;
	padding-bottom: 90px;
	padding-left: 40px;
	padding-right: 40px;
	width: 350px;
}

#login-form label {
	display: block;
	font-weight: 400;
}

#login-form input {
	border: none;
	border-radius: 4px;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
	font-size: 0.9em;
}

#login-form #login-btn {
	background-color: white;
	border: none;
	color: #624630;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	padding: 8px 20px;
	text-align: right;
	margin-top: 20px;
	font-size: 0.9em;
}

#login-form #register-form-btn {
	background-color: white;
	border: none;
	color: #624630;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	padding: 8px 10px;
	text-align: left;
	margin-top: 20px;
	font-size: 0.9em;
}

#login-error {
	clear: both;
	color: #990000;
	padding-top: 30px;
	font-weight: 400;
}

/**
 * register form
 */
#register-form {
	color: #624630;
	margin: 0px auto;
	overflow: auto;
	padding: 40px;
	width: 350px;
}

#register-form label {
	display: block;
	font-weight: 400;
}

#register-form input {
	border: none;
	border-radius: 4px;
	display: block;
	margin-bottom: 10px;
	padding: 8px;
	width: 100%;
	font-size: 0.9em;
}

#register-form #login-form-btn {
	background-color: white;
	border: none;
	color: #624630;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	padding: 8px 10px;
	text-align: left;
	margin-top: 20px;
	font-size: 0.9em;
}

#register-form #register-btn {
	background-color: white;
	border: none;
	color: #624630;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	padding: 8px 20px;
	text-align: right;
	margin-top: 20px;
	font-size: 0.9em;
}

#register-result {
	clear: both;
	color: #990000;
	padding-top: 10px;
}

/**
 * main section
 */
.main-section {
	background: #ff8a65;
}

/**
 * aside
 */
#item-nav {
	float: left;
	width: 200px;
}

.nav-icon {
	color: #624630;
	padding: 20px;
	text-align: center;
}

/**
 * main navigation
 */
.main-nav-btn {
	background: none;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	padding: 20px;
	text-align: left;
	text-decoration: none;
}

.main-nav-btn:hover {
	background: rgba(255, 255, 255, 0.8);
	background: #d7ccc8;
	background: #fbe9e7;
	background: #ffebee;
	color: #624630;
}

.main-nav-btn.active {
	background: #F2EBD9;
	background: #fbe9e7;
	color: #624630;
}

.main-nav-btn i {
	width: 20px;
}

/**
 * recipe item list
 */
#item-list {
	background: #fbe9e7;
	color: #624630;
	list-style: none;
	margin-left: 200px;
	min-height: 600px;
	padding: 10px;
}

#item-list .notice {
	font-size: 16px;
	padding: 60px;
	text-align: center;
}

/**
 * recipe item
 */
.item {
	align-items: center;
	border-bottom: 1px solid #FFFFFF;
	display: flex;
	margin: 10px;
	padding: 15px;
	transition: background-color 100ms linear;
}

.item:last-child {
	border: none;
}

.item:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

.item img {
	height: 120px;
	width: 160px;
}

.item>div:first-of-type {
	flex: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.item-name {
	color: #624630;
	font-weight: 400;
	text-decoration: none;
}

.item-name:hover {
	text-decoration: underline;
}

.fav-link {
	border-left: 1px solid #FFFFFF;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	width: 60px;
}

.fav-link:hover {
	color: #F13F3F;
}

/**
 * fridge
 */
.add-option {
	display: flex;
}

.add-option>div {
	flex: 1;
}

#add-option-1 {
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#add-option-1>label {
	font-weight: 400;
}

#add-option-2>label {
	font-weight: 400;
}

#add-option-2 {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#fridge-item-container {
	background: #fbe9e7;
	min-height: 600px;
	color: #4e342e;
	margin-top: 15px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	border-right: 1px solid #FFFFFF;
}

#storage-label {
	font-weight: 400;
}

#load-fridge-msg {
	margin-top: 10px;
}

.fridge-item-list {
	margin-top: 10px;
	display: flex;
}

.fridge-item-list>div {
	flex: 1;
}

#add-option-1 input {
	border: none;
	border-radius: 4px;
	padding: 8px;
	margin-left: 5px;
	font-size: 0.9em;
}

#input-file {
	display: none;
}

.custom-file-upload {
	background-color: white;
	border: none;
	color: #4e342e;
	border-radius: 4px;
	cursor: pointer;
	text-align: left;
	margin-left: 5px;
	padding: 7px 9px;
	font-size: 0.9em;
}

#add-fridge-btn {
	background-color: white;
	border: none;
	color: #4e342e;
	border-radius: 4px;
	cursor: pointer;
	text-align: left;
	padding: 8px 10px;
	margin-left: 5px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

#see-recommend-btn {
	background-color: white;
	border: solid 1px #8d6e63;
	color: #4e342e;
	border-radius: 4px;
	cursor: pointer;
	text-align: left;
	padding: 8px 10px;
	margin-left: 5px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

#clear-fridge-btn {
	background-color: white;
	border: solid 1px #8d6e63;
	color: #4e342e;
	border-radius: 4px;
	cursor: pointer;
	text-align: left;
	padding: 8px 10px;
	margin-left: 5px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

.item:hover {
	background: rgba(255, 255, 255, 0.8);
	transition: background-color 100ms linear;
}

/**
 * labels
 */
#result-container {
	background: #fbe9e7;
	min-height: 600px;
	color: #4e342e;
	margin-top: 23px;
	margin-bottom: 10px;
	padding-top: 10px;
}

.loading-section {
	display: flex;
}

.loading-section>div {
	flex: 1;
}

#img-container {
	border: solid 1px #4e342e;
	height: 300px;
	width: 300px;
	margin-left: 10px;
}

#load-img-msg {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#label-label {
	font-weight: 400;
	margin-top: 10px;
	padding-left: 10px;
}

.label-item-list {
	display: flex;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
}

.label-item-list>div {
	flex: 1;
}

/**
 * footer section
 */
footer {
	font-size: 0.8em;
	height: 200px;
	position: relative;
	background: #8d6e63;
}

footer p {
	text-align: center;
}

footer p.title {
	font-size: 1.2em;
	padding-top: 40px;
	padding-bottom: 10px;
}

footer ul {
	align-items: center;
	display: flex;
	padding: 20px;
}

footer ul li {
	flex: 1;
}

footer ul li p {
	padding: 5px;
}